{% extends 'navbar.html' %}
{% block content %}
<html>
  <head>
    <style>
      table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
    </style>
    <h1>Display process</h1>
  </head>
  <body>
    <br>
    <div id="datefilter-container">
        <p class="js-command">Please select the date for filter </p>
        <div id="datefilter">
          <form name="date-range-form" id="date-range-form"
            method="post">
            <label for="start">Start date:</label>
            <input type="date" id="date_from" name="date_from">
            <label for="end">End date:</label>
            <input type="date" id="date_to" name="date_to">
            <button type="submit" name="date_filter">Submit</button>
          </form>
        </div>
      </div>
    </form>
    {% if date_from %}
    <p>Filtered date from {{date_from}} to date {{date_to}}</p>
    {% endif %}
    <table style="width:100%">
      <tr>
        <th>Robot timestamp</th>
        <th>Sever timestamp(UTC)</th>
        <th>Process Name</th>
        <th>Computer Name</th>
        <th>Customer Name</th>
        <th>comment</th>
        <th>reason</th>
        <th>Transaction amount</th>
        <th>Robot runtime</th>
      </tr>
    {% for log in logtable %}
      <tr>
        <td>{{ log.robot_timestamp }}</td>
        <td>{{ log.server_timestamp }}</td>
        <td>{{ log.process.process_name }}</td>
        <td>{{ log.process.computer_name }}</td>
        <td>{{ log.process.customer_name }}</td>
        <td>{{ log.comment }}</td>
        <td>{{ log.reason }}</td>
        <td>{{ log.transaction_amount }}</td>
        <td>{{ log.robot_runtime }}</td>
      </tr>

    {% endfor %}
    </table>
  </body>
</html>
{% endblock %}
